<div class="container">

  <div class="row">
    <div class="col-sm-2 border-right">
      <h5>UNIFORM HAZARDOUS WASTE MAINFEST</h5>
    </div>
    <div class="col-sm-2 border-right">
      <p>1.Generator ID Number</p>
      <input type="text" class="form-control" value="CAL000092413">
    </div>
    <div class="col-sm-2 border-right">
      <p>2.page 1 of</p>
      <input type="text" class="form-control" value="1">
    </div>
    <div class="col-sm-3 border-right">
      <p>3.Emaegency Response Phone</p>
      <input type="text" class="form-control" value="(800) 424-9300">
    </div>
    <div class="col-sm-3">
      <p>4.Manifest Tracking Number</p>
      <input type="text" class="form-control" value="020376270  JJK">
    </div>

  </div>





  <div class="row">
    <div class="col-sm-6">
      <p>5.Generator Name and Mailing Address</p>
      <textarea class="form-control" row="3"
        cols="50">IOLCHANGERS &#13;&#10;198 VALACIA ST SAN FRANCISCO CA&#13;&#10;94103</textarea>
      <p>Generator's Phone <input type="text" class="form-control" value="415 487 1740"></p>
    </div>
    <div class="col-sm-6">
      <p>Generator's site Address(if different than mailing address</p>
    </div>
  </div>


  <div class="row">
    <div class=col-sm-9>
      <p>6.Transporter 1 Company Name</p>
      <input type="text" class="form-control" value="WORLD OIL ENVIRONMENTAL SERVICE">
    </div>
    <div class=col-sm-3>
      <p>U.S EPA ID Number</p>
      <input type="text" class="form-control" value="CAD028277036">
    </div>
  </div>



  <div class="row">
    <div class=col-sm-9>
      <p>7.Transporter 2 Company Name</p>
      <input type="text" class="form-control" value="WORLDWIDE RECOVERY SYSTEM INC">
    </div>
    <div class=col-sm-3>
      <p>U.S EPA ID Number</p>
      <input type="text" class="form-control" value="CAR000175422">
    </div>
  </div>



  <div class="row">
    <div class=col-sm-9>
      <p>8.Designated Facility Name and Site Address</p>
      <textarea class="form-control" row="3"
        cols="50">YES MANAGEMENT INC &#13;&#10;6500 US HIGHWAY 95&#13;&#10;YUMA              AZ       85365</textarea>
      <p>Facility's Phone</p>
      <input type="text" class="form-control" value="(928)344-9828">

    </div>
    <div class=col-sm-3>
      <p>U.S EPA ID Number</p>
      <input type="text" class="form-control" value="AZR000521146">
    </div>
  </div>

  <div class="row">
    <table class="table table-bordered">
      <tr>
        <th>9a.HM</th>
        <th>9b. U.S DOT Description(including proper shipping Name,Hazard Class,ID Number, and Packing Group(if any))
        </th>
        <th colspan="2">10.Containers</th>
        <th>11.Total Quantity</th>
        <th>12.Unit Wt/Vol</th>
        <th>13.Waste Codes</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>NO.</td>
        <td>Type</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

    </table>
    <button class="btn btn-primary" routerLink="/scan/inbound">Scan</button>
  </div>





  <div class="row">
    <div class="col-sm-12">
      <p>14.Special Handling Instructions and Additional Information</p>
      <h4>EMERGENCY CONTACT : CHEMTREC 1-800-424-9300 WHOSE TERMINAL NAERG# 9B1 : 171 *PROFILE# 9B1 : 162623NRS<br>OILY
        DEBRIS * APPROPRIATE PERSONAL PROTECTIVE EQUIPMENT</h4>
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"><input type="text" class="form-control" value="TRUCK 2030"></div>
        <div class="col-sm-3"><input type="text" class="form-control" value="1-559 PM"></div>
        <div class="col-sm-3"><input type="text" class="form-control" value="WO#543295"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div>
        <p style='display:inline'>15.</p><h5 style='display:inline'>GENERATOR'S/OFFERORS CERTIFICATION :</h5>
        <p style='display:inline'>I hereby declare that the content of this cosigment are fully and accurately described
          above by the proper shipping name,and are classified,packeged,marketed and labeled/placarded and are in all
          respect in proper codition for transport According to applicable International and national govermental regulations.if export shipment and 
        I am the primary Exporter, i certify that the contents of this consigment conform to the terms of the attached  
        EPA acknow;edgement of Consent<br>I certify that the waste minimization statement identified in 40CFR 262.27 (a)(if i am a large quantity Generator) or (b)(if i am a small quantity Generator) is true.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <p>Generator's/Officer's printed/Type Name </p>
      <input type="text" class="form-control" value="Jonte">

    </div>
    <div class="col-sm-3">
      <p>Signature</p>


    </div>
    <div class="col-sm-3">
      <p>Date</p>
      <input type="text" class="form-control">
    </div>

  </div>



  <div class="row">
    <div class="col-sm-3">
      <p>16.International Shipments</p>
      <p>Transporter Signature (for exports only): </p>
    </div>
    <div class="col-sm-2">
      <p> <input type="checkbox">Import to U.S</p>

    </div>
    <div class="col-sm-2">
      <p> <input type="checkbox">Export from U.S</p>
    </div>
    <div class="col-sm-5">
      <p>Port of entry/exit:_________________________________</p>
      <p>Dateleaving U.S:</p>
    </div>
  </div>





  <div class="row">
    <div class="col-sm-12">
      <p>17.Transporter Acknowledgement of Receipt of Materials</p>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-5">
      <p>Transporter 1 Printed/Typed Name</p>
      <input type="text" class="form-control" value="RAWN GANGA">
    </div>
    <div class="col-sm-4">
      <p>Signature</p>

    </div>
    <div class="col-sm-3">
      <p>Date</p>
      <input type="text" class="form-control">
    </div>
  </div>




  <div class="row">
    <div class="col-sm-5">
      <p>Transporter 2 Printed/Typed Name</p>
      <input type="text" class="form-control" value="Paul D Mic Tarcsno Jk">
    </div>
    <div class="col-sm-4">
      <p>Signature</p>

    </div>
    <div class="col-sm-3">
      <p>Date</p>
      <input type="text" class="form-control">
    </div>

  </div>



  <div class="row">
    <div class="col-sm-12">
      <p>18.Discrepancy</p>
    </div>
  </div>





</div>
