
        <div class="row">
                <div class="col-sm-2">
                  <b>Name :</b>g
                   </div>
                 <div class="col-sm-4">
                  <input type="text" class="form-control">
                </div>

         </div>
 
 

         <div class="row">
              <div class="col-sm-2">
              <b>Code :</b>
             </div>
             <div class="col-sm-4">
            <input type="text" class="form-control">
             </div>

        </div>





            <div class="row">
                <div class="col-sm-2">
                    <b>Container Number :</b>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control">
               </div>

            </div>




                <div class="row">
                    <div class="col-sm-2">
                        <b>Container Type :</b>
                    </div>
                    <div class="col-sm-4">
                        <select class="browser-default custom-select">
                            <option selected>DM</option>
                            <option>BM</option>
                            <option>SM</option>
                            
                        </select>
                </div>

                </div>



                <div class="row">
                    <div class="col-sm-2">
                        <b>Quantity :</b>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control">
                </div>

                </div>





                <div class="row">
                    <div class="col-sm-2">
                        <b>Unit :</b>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control">
                </div>

                </div>




                <div class="row">
                    <div class="col-sm-2">
                        <b>Waste Code :</b>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control"><br>
                        
                        </div>
                </div>
                


                <div class="row justify-content-start">
                        <div class="col-sm-2">
                            
                            </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-primary">ADD</button></div>
                   </div>
              

                
            
    